<!-- 加载头部 -->
<% include header %>

<!-- 右侧的侧边栏 -->
<div id="main">
	<div id="sidebar">
	  <div class="panel">
	    <div class="header">
	      <span class="col_fade">Markdown 语法参考</span>
	    </div>
	    <div class="inner">
	      <ol>
	        <li><tt>### 单行的标题</tt></li>
	        <li><tt>**粗体**</tt></li>
	        <li><tt>`console.log('行内代码')`</tt></li>
	        <li><tt>```js\n code \n```</tt> 标记代码块</li>
	        <li><tt>[内容](链接)</tt></li>
	        <li><tt>![文字说明](图片链接)</tt></li>
	      </ol>
	      <span><a href="https://segmentfault.com/markdown" target="_blank">Markdown 文档</a></span>
	    </div>
	  </div>

	  <div class="panel">
	    <div class="header">
	      <span class="col_fade">话题发布指南</span>
	    </div>
	    <div class="inner">
	      <ol>
	        <li>尽量把话题要点浓缩到标题里</li>
	        <li>代码含义和报错可在 <a href="http://segmentfault.com/t/node.js">SegmentFault</a> 提问</li>
	      </ol>
	    </div>
	  </div>

	</div>

<!-- 左侧的发表页面 -->
	<div id="content">
	  	<div class="panel">
	   		<div class="header">
	      		<ol class="breadcrumb">
	        		<li><a href="/">主页</a><span class="divider">/</span></li>
	        		<li class="active">发布话题</li>
	      		</ol>
	    	</div>
	    	<div class="inner post">
	    		<% if(errMsg.length){ %> 
					<p class="alert alert-danger"><%= errMsg %></p>
				<% } %>
	        	<form id="create_topic_form" action="/topic/create" method="post">
	          
	          		<fieldset>
	            		<span class="tab-selector">选择版块：</span>
            			<select name="cid" id="tab-value">
			              	<option value="">请选择</option>

			              	<% cateData.forEach(function(cate){ %>
			              		<!-- 选择的是哪一个模块 -->
								<option value="<%= cate._id %>"><%= cate.cateName %></option>
			              	<% }) %>
	           			</select>
	           			<span class="tab-selector">选择回复可见：</span>
	           			<select name="isShow" id="tab-value">
		              		<option value="0">请选择</option>
							<option value="1">回复可见</option>
	           			</select>
	            		<span id="topic_create_warn"></span>
	            		<textarea autofocus="" class="span9" id="title" name="tName" rows="1" placeholder="标题字数 10 字以上"></textarea>

	            		<div class="markdown_editor in_editor">
	              			<textarea class="span11" rows="10"  name="tContent" placeholder="请输入内容"></textarea>


	                		<div class="editor_buttons">
	                  			<input class="span-primary submit_btn" data-loading-text="提交中" value="提交" type="submit">
	                		</div>
	              		</div>
	              	</fieldset>
	        	</form>
	    	</div>
	    
	  	</div>
	</div>
</div>
<!-- 加载底部 -->
<% include footer %>