	<div id="footer" class="fix-bottom">
		<div id="footer_main">
			<div class="links">
				<a class="dark" href="/rss">RSS</a>
				<a class="dark" href="">联系我们:邮箱<%= webData.email %></a>
			</div>
			<div class="col_fade">
				<p>CNode 社区为国内最专业的 Node.js 开源技术社区，致力于 Node.js 的技术研究。</p>
				<p>服务器赞助商为
					<a href="http://www.ucloud.cn/?utm_source=zanzhu&amp;utm_campaign=cnodejs&amp;utm_medium=display&amp;utm_content=yejiao&amp;ytag=cnodejs_logo" target="_blank" class="sponsor_outlink" data-label="ucloud_bottom">
						<img src="/img/ucloud.png" title="ucloud" alt="ucloud" width="92px">
					</a>，存储赞助商为
					<a href="http://www.qiniu.com/?ref=cnode" target="_blank" class="sponsor_outlink" data-label="qiniu_bottom">
						<img src="/img/qiniu.png" title="七牛云存储" alt="七牛云存储" width="115px">
					</a>，由<a href="https://alinode.aliyun.com/?ref=cnode" target="_blank" class="sponsor_outlink" data-label="alinode_bottom">
					<img src="/img/alinode.png" title="alinode" alt="alinode" width="166px" height="54px">
					</a>提供应用性能服务。
				</p>
				<p>本站访问地址<a href="https://<%= webData.webUrl %>"><%= webData.webName %>(http://<%= webData.webUrl %>/)</a></p>
			</div>
		</div>
	</div>
</body>
</html>